.row
  .col-sm-8.col-sm-offset-2.col-md-5.col-md-offset-3
    .panel.panel-default
      .panel-heading
        %strong= _('Sign-up')
        .pull-right
          %small= link_to _("Didn't receive confirmation instructions?"), new_confirmation_path(resource_name)

      .panel-body
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form'}) do |f|
          = render 'layouts/errors', object: resource
          .form-group
            = f.label _('Name')
            = f.text_field :name, autofocus: true, required: true, class: 'form-control'
          .form-group
            %label= _('Email')
            = f.email_field :email, required: true, class: 'form-control'
          .form-group
            %label= _('Password')
            = f.password_field :password, required: true, class: 'form-control'
          .form-group
            %label= _('Confirm Password')
            = f.password_field :password_confirmation, required: true, class: 'form-control'

          = f.submit _('Sign up'), class: 'btn btn-success'

          %hr.line

          %small= _('Already have an account?')
          |
          %small= link_to _('Sign in'), new_user_session_path

