#orders
  - if @user.orders.present?
    %h4 Your orders


    %table.table.table-hover.table-responsive
      %thead
        %tr
          %th= _('Status')
          %th= _('Date')
          %th= _('Payment method')
          %th= _('Shipment')
          %th= _('Total')
          %th{ collspan: 2}

      %tbody
        - @user.orders.each do |order|
          %tr
            %td= order_status(order.status)
            %td= I18n.localize(order.created_at)
            %td= _(order.payment.title)
            %td= "#{order.shipment.provider} #{order.shipment.title}"
            %td= number_to_currency order.total
            %td.text-right{ width: '15%' }
              = icon_link_to '', order_path(order), { class: 'btn btn-default' }, 'fa-eye'
              = icon_link_to '', order_path(order, format: 'pdf'), { class: 'btn btn-default' } , 'fa-print'

  - else
    %h4 Your orders list is empty
