- @items.each do |order|
  %tr
    %td
      = form_tag update_status_order_path(order), id: :update_status, method: :put do
        - labels = { accepted: 'btn-default', in_progress: 'btn-default', shipped: 'btn-primary', completed: 'btn-success'}
        - icons = { accepted: 'fa-clock-o', in_progress: 'fa-archive', shipped: 'fa-truck', completed: 'fa-check-circle'}
        .btn-group
          %button.btn.btn-sm.btn-default.dropdown-toggle{ class: labels[order.status.to_sym], data: { toggle: :dropdown }}
            %i{ class: "fa #{icons[order.status.to_sym]}"}
            = order.status.humanize
            %span.caret
          %ul.dropdown-menu
            - Order.statuses.except(order.status).keys.each_with_index do |status, index|
              - radio_id = "ex#{order.id}_#{index+1}"
              %li
                %input{id: radio_id, name: "order[status]", type: :radio, value: status}
                %label{for: radio_id, data: { target: "##{radio_id}"}}
                  %i{ class: "fa #{icons[status.to_sym]}"}
                  = status.humanize
    %td= order.user.name
    %td= I18n.localize(order.created_at)
    %td= order.payment.title
    %td= number_to_currency order.total
    %td.text-right
      = icon_link_to '', order, { class: 'btn btn-sm btn-default' }, 'fa-eye'
      = icon_link_to '', order_path(order, format: 'pdf'), { class: 'btn btn-sm btn-default' }, 'fa-print'
      = icon_link_to '', order, { data: {confirm: _('Are you sure?') }, method: :delete, class: 'btn btn-sm btn-default' }, 'fa-trash-o'

= table_pagination(@items)
