%h4.page-header.no-margin= _('Orders')

.panel.panel-default
  .panel-body
    %table.table.table-hover
      %thead
        %tr
          %th= _('Status')
          %th= _('Customer')
          %th= _('Date')
          %th= _('Payment')
          %th= _('Total')
          %th{ colspan: 3, width: '25%'}
            = ransack_search_form_for(orders_path, :user_name_cont)
      %tbody{id: controller_name}
        = render partial: controller_name


