.row
  .col-sm-8.col-sm-offset-2.col-md-5.col-md-offset-3
    .panel.panel-default
      .panel-heading
        %strong= _('Sign-in')
      .panel-body
        = render 'layouts/errors', object: resource
        = form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form'}) do |f|
          .form-group
            %label= _('Email')
            = f.email_field :email, autofocus: true, class: 'form-control'

          .form-group
            = f.label _('Password')
            - if devise_mapping.recoverable?
              %small
                = link_to "(#{_('Reset password')})", new_password_path(resource_name), class: 'pill-right'
            = f.password_field :password, class: 'form-control'

            - if devise_mapping.rememberable?
              .checkbox
                %small
                  = f.check_box :remember_me
                  = f.label _('Remember me')

          = f.submit _('Sign in'), class: 'btn btn-success'

          %hr.line

          - if devise_mapping.registerable?
            %small= _("Don't have an account?")
            |
            %small= link_to _('Sign up'), new_registration_path(resource_name)


