.panel.panel-default
  = form_for @payment, html: { class: 'form-horizontal' } do |f|
    .panel-heading
      %h4.page-header.no-margin= _("%s payment method") % action

    .panel-body
      = render 'layouts/errors', object: @payment

      = translation_fields_for @payment, :title, _('Title')

    .panel-footer
      = f.submit _('Save'), class: 'btn btn-success'
      = link_to _('Back'), payments_path
