- @items.each do |payment|
  %tr
    %td= payment.title
    %td.text-right
      = icon_link_to '', payment, { class: 'btn btn-sm btn-default' }, 'fa-eye'
      = icon_link_to '', edit_payment_path(payment), { class: 'btn btn-sm btn-default' }, 'fa-edit'
      = icon_link_to '', payment, { data: {confirm: _('Are you sure?') }, method: :delete, class: 'btn btn-sm btn-default' }, 'fa-trash-o'

= table_pagination(@items)
