%h4.page-header.no-margin
  = _('Payment methods')
  .pull-right
    = link_to _('New payment'), new_payment_path, class: 'btn btn-xs btn-success'

.panel.panel-default
  .panel-body
    %table.table.table-hover
      %thead
        %tr
          %th= _('Title')
          %th{ colspan: 3 }

      %tbody
        - @payments.each do |payment|
          %tr
            %td= payment.title
            %td.text-right
              = icon_link_to '', payment, { class: 'btn btn-sm btn-default' }, 'fa-eye'
              = icon_link_to '', edit_payment_path(payment), { class: 'btn btn-sm btn-default' }, 'fa-edit'
              = icon_link_to '', payment, { data: {confirm: _('Are you sure?') }, method: :delete, class: 'btn btn-sm btn-default' }, 'fa-trash-o'
