.panel
  .panel-body
    %h4.page-header= @payment.title

    %p
      %strong= _('Title')
      = @payment.title

  .panel-footer
    = link_to _('Edit'), edit_payment_path(@payment), class: 'btn btn-default'
    = link_to _('Back'), payments_path
