%h4.page-header.no-margin
  = _('Addresses')
  .pull-right
    = link_to _('New address'), new_address_path, class: 'btn btn-xs btn-success'

.panel.panel-default
  .panel-body
    %table.table.table-hover
      %thead
        %tr
          %th= _('Status')
          %th= _('Recipient')
          %th= _('User')
          %th{ colspan: 3, width: '25%' }
            = ransack_search_form_for(addresses_path, :recipient_or_user_name_cont)
      %tbody{id: controller_name}
        = render partial: controller_name



