- if @user.addresses.active.present?
  - @user.addresses.active.each do |address|
    .col-xs-12.col-sm-6.col-md-4
      .panel.panel-default
        .panel-body
          .row
            .hidden-xs.col-sm-5.col-md-5
              %i.fa.fa-7x.fa-envelope.light-gray
            .col-xs-12.col-sm-7.col-md-7
              %strong= address.recipient
              %div= address.street
              %div= "#{address.zip_code} #{address.city}"
              %hr.line
              %p
                %i.fa.fa-phone
                = address.phone
        .panel-footer
          .btn-group.btn-group-justified
            .btn-group
              = link_to _('Edit'), '#address', data: { target: "#address_modal_#{address.id}", toggle: 'modal' }, class: 'btn btn-default'
            .btn-group
              - link = address.in_use? ? delete_address_url(address) : address
              = link_to _('Destroy'), link, data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger'


      = render 'addresses/modal', address: address




- else
  %h4= _('Your addresses list is empty')

= render 'addresses/modal', address: Address.new

