- breadcrumb :account, @current_user

#profile
  #order
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %i.fa.fa-file
          = _('Orders')
      .panel-body
        = render 'order'

  #address
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %i.fa.fa-envelope
          = _('Addresses')

          .pull-right
            = link_to _('New address'), '#address_modal', class: 'btn btn-xs btn-success',  data: { target: '#address_modal', toggle: 'modal' }
      .panel-body
        = render 'address'

  #account
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %i.fa.fa-user
          = _('Account')
      .panel-body
        = render 'account'


