.panel.panel-default
  = form_for @product, html: { id: 'product_form', role: 'form', class: "form-horizontal"} do |f|
    .panel-heading
      %h4.page-header.no-margin= _("%s product") % action
      = render 'layouts/errors', object: @product

    .panel-body
      .form-group
        = f.label _('Category'), class: 'col-sm-2 control-label'
        .col-xs-12.col-sm-8.col-md-6
          - options = Category.all.map{ |c| [c.title, c.id] }
          = f.select :category_id, options_for_select(options, @product.category_id), { prompt: _('Select category'), required: true }, class: 'form-control'

      = translation_fields_for @product, :title, _('Title')
      = translation_fields_for @product, :description, _('Description')

      .form-group
        = f.label _('EAN'), class: 'col-sm-2 control-label'
        .col-xs-12.col-sm-8.col-md-6
          = f.text_field :ean, required: true, 'data-id' => @next_id, class: 'form-control'
          %p.help-block
            %i.fa.fa-info-circle
            = _('EAN is composed of category id prefix and next product id')

      .form-group
        = f.label _('Quantity'), class: 'col-sm-2 control-label'
        .col-xs-12.col-sm-8.col-md-6
          = f.number_field :quantity, min: 0, required: true, class: 'form-control'

      .form-group
        = f.label _('Price'), class: 'col-sm-2 control-label'
        .col-xs-12.col-sm-8.col-md-6
          = f.number_field :price, min: 0, step: 0.01, required: true, class: 'form-control'

      .form-group
        = f.label _('VAT'), class: 'col-sm-2 control-label'
        .col-xs-12.col-sm-8.col-md-6
          = f.select :vat_id, options_for_select(Vat.all.map{ |v| ["#{v.rate}% (#{v.title})", v.id] }, @product.vat_id), {}, class: 'form-control'

      .form-group
        = f.label _('Image'), class: 'col-sm-2 control-label'
        .col-xs-12.col-sm-8.col-md-6
          .well
            .media
              %a.pull-left{ href: '#' }
                = product_image_tag @product
              .media-body
                = f.hidden_field(:image_cache)
                = f.file_field :image, accept: 'image/png,image/gif,image/jpeg', class: 'input-md'
              %p.help-block
                %small= _('Please be patient the image upload may take a few seconds...')

    .panel-footer
      = f.submit _('Save'), class: 'btn btn-success'
      = link_to _('Back'), products_path
