.panel.panel-default
  = form_for @product, html: { id: 'product_form', role: 'form', class: "form-horizontal"} do |f|
    .panel-heading
      %h4.page-header.no-margin= "#{params[:action].capitalize} product"
      = render 'layouts/errors', object: @product
    .panel-body
      .form-group
        = f.label _('Name'), class: 'col-sm-2 control-label'
        .col-xs-12.col-sm-8.col-md-6
          = f.text_field :name, required: true, autofocus: true, class: 'form-control'

      .form-group
        = f.label _('Description'), class: 'col-sm-2 control-label'
        .col-xs-12.col-sm-8.col-md-6
          = f.text_field :description, required: true, class: 'form-control'

      .form-group
        = f.label _('EAN'), class: 'col-sm-2 control-label'
        .col-xs-12.col-sm-8.col-md-6
          = f.text_field :ean, required: true, class: 'form-control'

      .form-group
        = f.label _('Quantity'), class: 'col-sm-2 control-label'
        .col-xs-12.col-sm-8.col-md-6
          = f.number_field :quantity, required: true, class: 'form-control'

      .form-group
        = f.label _('Price'), class: 'col-sm-2 control-label'
        .col-xs-12.col-sm-8.col-md-6
          = f.number_field :price, step: 0.01, required: true, class: 'form-control'

      .form-group
        = f.label _('VAT'), class: 'col-sm-2 control-label'
        .col-xs-12.col-sm-8.col-md-6
          = f.number_field :vat, required: true, class: 'form-control'

      .form-group
        = f.label _('Category'), class: 'col-sm-2 control-label'
        .col-xs-12.col-sm-8.col-md-6
          = f.select :category_id, options_for_select(Category.all.map{ |c| [c.name, c.id] }, @product.category_id), {}, class: 'form-control'

      .form-group
        = f.label _('Image'), class: 'col-sm-2 control-label'
        .col-xs-12.col-sm-8.col-md-6
          .well
            .media
              %a.pull-left{ href: '#' }
                = product_image_tag @product
              .media-body
                = f.hidden_field(:image_cache)
                = f.file_field :image, accept: 'image/png,image/gif,image/jpeg'
              %p.help-block
                %small Please be patient the image upload may take a few seconds...

    .panel-footer
      = f.submit _('Save'), class: 'btn btn-success'
      = link_to _('Back'), products_path
