%h4.page-header.no-margin
  Products
  .pull-right
    = link_to _('New product'), new_product_path, class: 'btn btn-xs btn-success'

.panel.panel-default
  .panel-body
    %table.table.table-hover
      %thead
        %tr
          %th= _('Image')
          %th= _('Title')
          %th= _('EAN')
          %th= _('Quantity')
          %th= _('Price')
          %th= _('VAT')
          %th{ colspan: 3, width: '20%' }

      %tbody
        - @products.each do |product|
          %tr
            %td= product_image_tag product
            %td= product.title
            %td= product.ean
            %td= product.quantity
            %td= number_to_currency product.price
            %td= number_to_percentage(product.vat.rate, precision: 0)
            %td.text-right
              = icon_link_to '', product, { class: 'btn btn-sm btn-default' }, 'fa-eye'
              = icon_link_to '', edit_product_path(product), { class: 'btn btn-sm btn-default' }, 'fa-edit'
              = icon_link_to '', product, { data: {confirm: 'Are you sure?'}, method: :delete, class: 'btn btn-sm btn-default' }, 'fa-trash-o'

