.panel.panel-default.product-details
  .panel-body
    .row
      .col-xs-6.col-md-5.border-right
        = product_image_tag(@product, :show)
      .col-xs-6.col-md-7
        .product
          %h3
            = @product.title
          .text-muted
            %p= @product.description
          %h3
            = " #{number_to_currency(@product.price)}"

          %hr

          .text-muted
            %p= _("EAN: %s") % @product.ean
            %p= _("VAT: %s") % number_to_percentage(@product.vat.rate)
            %p= _("Available: %d of %d") % [@product.available_quantity, @product.quantity]

          %hr

          = link_to _('Edit'), edit_product_path(@product), class: 'btn btn-default'
          = link_to _('Back'), products_path
