%h4.page-header.no-margin
  = _('Shipping methods')
  .pull-right
    = link_to _('New shipment'), new_shipment_path, class: 'btn btn-xs btn-success'

.panel.panel-default
  .panel-body
    %table.table.table-hover
      %thead
        %tr
          %th= _('Default')
          %th= _('Provider')
          %th= _('Title')
          %th= _('Fee')
          %th{ colspan: 3, width: '25%'}
            = ransack_search_form_for(shipments_path, :provider_or_translations_title_cont)
      %tbody{id: controller_name}
        = render partial: controller_name
