.panel.panel-default
  / .panel-heading
  .panel-body
    %table.table.table-hover
      %thead
        %tr
          %th{colspan: 2} Name
          %th Price
          %th{colspan: 2} Quantity
      %tbody
        - @products.each_with_index do |product, index|
          %tr.product-list
            = form_tag line_items_path(:product_id => product), :multipart => true, class: 'form-inline' do
              %td= product_image_tag product, nil, :width => 50, :height => 50, :crop => :fill
              %td
                .name= link_to product.name, store_product_path(product)
                .description= product.description
              %td= number_to_currency(product.price)
              %td
                = quantity_field_tag 1, { max: product.available_quantity}
              %td
                = button_tag(type: "submit", class: "btn btn-sm btn-success") do
                  %i.fa.fa-shopping-cart

= paginate @products, remote: true



