%ul#categories.nav.navbar-nav.clearfix
  %li{ class: params[:category_name_cont].nil? ? 'active' : '' }= link_to "All categories", root_path(view: @view), remote: :true
  - @categories.each do |cat|
    %li{ class: cat.name == params[:category_name_cont] ? 'active' : '' }
      = link_to "#{cat.name} (#{cat.products_count})", root_path(q: {'category_name_cont' => cat.name}, view: @view), remote: :true

.clearfix
%hr.line

#store-index
  .row
    .col-xs-5.col-sm-5.col-md-6
      = search_form_for @search, url: root_path, method: :get, remote: true, class: '' do |f|
        = hidden_field_tag :view, params[:view]

        .input-group
          %span.input-group-addon
            %i.fa.fa-search

          = f.text_field :name_cont, placeholder: 'Search', class: 'form-control'

    .col-xs-7.col-sm-7.col-md-6
      .text-right
        %span.hidden-xs
          %small Sort by:
          -# %i.fa.fa-sort-alpha-asc

        .btn-group.btn-group-sm
          .btn.btn-default{ class: (@sorting.include?('name')) ? 'active' : ''}
            = sort_link @search, :name
            -# %i.fa.fa-sort-alpha-asc
          .btn.btn-default{ class: (@sorting.include?('price')) ? 'active' : ''}
            = sort_link @search, :price
            -# %i.fa.fa-sort-numeric-desc
          .btn.btn-default{ class: (@sorting.include?('created_at')) ? 'active' : ''}
            = sort_link @search, :created_at
            -# %i.fa.fa-sort-amount-desc

        %span.hidden-xs
          %small View as:
        .btn-group
          = icon_link_to '', root_path(view: :grid), { class: "btn btn-sm btn-default #{'active' if params[:view] == 'grid'}" }, 'fa-lg fa-th-large text-muted'
          = icon_link_to '', root_path(view: :list), { class: "btn btn-sm btn-default #{'active' if params[:view] == 'list'}" }, 'fa-lg fa-th-list text-muted'

  %hr.line

  .row
    .col-xs-12.col-sm-12.col-md-12
      #alphabet
        - ('A'..'Z').each do |char|
          = link_to char, root_path(q: { name_start: char }),  remote: true
  %hr.line

  #products
    = render 'products'


