.panel.panel-default.product-details
  .panel-body
    .row
      .col-xs-4.col-md-3
        = product_image_tag @product, :standard, class: 'img-responsive'
      .col-xs-8.col-md-9
        .product
          %h3
            = @product.name
          .text-muted
            %p= @product.description
          %h3
            = " #{number_to_currency(@product.price)}"

          %hr

          .text-muted
            %p= "Article number: #{@product.article_number}"
            %p= "Stock: #{@product.available_quantity} of #{@product.quantity} available"

          %hr

          .row
            = form_tag line_items_path(:product_id => @product), :multipart => true do
              .col-xs-3
                = quantity_field_tag 1, { max: @product.available_quantity}
              .col-xs-4
                = button_tag t('cart.add'), type: 'submit', class: 'btn btn-sm btn-success'


