- breadcrumb :product, @product

.panel.panel-default.product-details
  .panel-body
    .row
      .col-xs-12.col-sm-5.col-md-5.border-right
        = product_image_tag(@product, :show)
      .col-xs-12.col-sm-7.col-md-7
        %hr.visible-xs
        .product
          %h3
            = @product.title
          .text-muted
            %p= @product.description

          %hr

          .text-muted
            %p= _("EAN: %s") % @product.ean
            %p= _("VAT: %s") % number_to_percentage(@product.vat.rate, precision: 0)
            %p= _("Available: %d of %d") % [@product.available_quantity, @product.quantity]

          %hr

          %h4
            = _('Price:')
            = " #{number_to_currency(@product.price)}"

          = form_tag line_items_path(product_id: @product) do
            = quantity_field_tag 1, { max: @product.available_quantity}
            = button_tag _('Add to cart'), type: 'submit', class: 'btn btn-sm btn-success margin-horizontal-5px'
