!!!
%html
  %head
    %title E-Shop
    %meta{ name: :description, content: 'E-Shop' }
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag "application", media: "all", 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    #wrap
      %header
        = render 'layouts/navigation'
      %main
        .container
          = render 'layouts/messages'
          = breadcrumbs style: :bootstrap
          = yield


    %footer
      .container
        .col-md-12.no-padding
          &copy; 2014 E-Shop, Inc. 路
          %a{ href: '#' } Privacy
          路
          %a{ href: '#' }  Delivery &amp; Returns
          路
          %a{ href: '#' }  Terms &amp; Conditions
          路
          %a{ href: '#' }  About Us
